
*{
  font-size:25px;
}
h1{
  font-family:sans-serif;
}
h2{
  font-family:times;
}
header {
  border-bottom: 20px solid tomato
}

.class-list {
  list-style-type: square;
}
.item {
  border: 10px solid purple
}

.even {
  background-color: grey;
}

.odd {
  background-color: black;
  color: white;
}

#item1 {
  font-size:30px;
}

#item2 {
  text-align: right;
}


Select the element with ID of item1 and change the font-size to 30px

Select the element with ID of item2 and change the text-align to right
