
*{
  font-size:25px;
}
h1{
  font-family:sans-serif;
}
h2{
  font-family:times;
}
header {
  border-bottom: 20px solid tomato
}

.class-list {
  list-style-type: square;
}
.item {
  border: 10px solid purple
}

.even {
  background-color: grey;
}

.odd {
  background-color: black;
  color: white;
}

Give elements with class 'odd' a background-color of 'black' and a color of 'white'
